body {
    margin: 0;
    background: #3DABFF;
    background: linear-gradient(180deg, rgb(61, 171, 255) 0%, rgb(255, 211, 143) 100%);
    min-height: 100vh;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
    font-family: Courier New;
}

h1 {
    text-align: center;
    color: white;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 705px;
    max-width: 100%;
}

canvas {
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}