body {
    margin: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

canvas {
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}